################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureB2BAuthServer/.vs/AzureB2BAuthServer/v15
/AzureB2BAuthServer/AzureB2BAuthServer/bin/roslyn
/AzureB2BAuthServer/AzureB2BAuthServer/bin
/AzureB2BAuthServer/AzureB2BAuthServer/obj/Debug
/AzureB2BClient/.vs/AzureB2BClient/v15/Server/sqlite3
/AzureB2BClient/AzureB2BClientWebApp/bin/roslyn
/AzureB2BClient/AzureB2BClientWebApp/bin
/AzureB2BClient/AzureB2BClientWebApp/obj/Debug
/AzureB2BClient/.vs/AzureB2BClient/v15/.suo
