################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureB2BAuthServer/.vs/AzureB2BAuthServer/v15
